# Capstone Breakdown Group 1A

**Computing Vision (a made-up company for the purposes of this project) sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they don’t have much background in creating movies. You are charged with exploring what types of films are currently doing the best at the box office using different samples of available data. You then will translate those findings into actionable insights that the head of Computing Vision's new movie studio can use to help decide what type of films to create.**

## EDA process

Our project is divided in the following two umbrella categories:

PROFIT:

- Budget v Revenue
- Genre vs. Revenue 
- Genre vs. Popularity (Rotten Tomatoes DF)
- Foreign/Domestic Results vs. Revenue  

POPULARITY: X

- Director vs. Popularity/Voter Avg. x
- Genre vs. Popularity/Voter Avg. 
- Domestic/International vs. Popularity/Voter Avg.  

## Specific insight

We want to gain insights from our data on the following specific points. We are performing EDA to be able to answer questions regarding:

- Revenue compared to rating of the film (critics and audience) x
- I.P and foreign/domestic revenue x
- Original language to revenue 
- Market: domestic/ global
- Writers and directors to revenue

In [1]:
# Import packages

import numpy as np
import pandas as pd
import sqlite3
import matplotlib as plt

In [2]:
# Read data sets

rtDF = pd.read_csv("Data/rt.movie_info.tsv", sep="\t") #Rotten Tomatoes Movies
rtDF_reviews = pd.read_csv("Data/rt.reviews.tsv", sep="\t", encoding = "latin_1") #Rotten Tomatoes Reviews
bomDF = pd.read_csv("Data/bom.movie_gross.csv") #Box Office Mojo Database
tmdbDF = pd.read_csv("Data/tmdb.movies.csv",index_col=0) #The MovieDB
tnmDF = pd.read_csv("Data/tn.movie_budgets.csv") #The Numbers

conn = sqlite3.connect('Data/im.db')

In [3]:
#Visualize rotten tomatoes
print(rtDF.info())
rtDF.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB
None

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [4]:
# 
rtDF.drop(columns=['currency','box_office','studio','synopsis','dvd_date'],inplace=True)

In [5]:
rtDF_reviews.info()
rtDF_reviews.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
5,3,... Cronenberg's Cosmopolis expresses somethin...,NaN,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
8,3,"Cronenberg's cold, exacting precision and emot...",NaN,fresh,Sean Axmaker,0,Parallax View,"March 24, 2013"
9,3,Over and above its topical urgency or the bit ...,NaN,fresh,Kong Rithdee,0,Bangkok Post,"March 4, 2013"

In [6]:
print(sum(rtDF_reviews['rating'].isna()))
# Dropping top_critic, publisher, and date columns because the information provided is not relevant to the scope of this study
rtDF_reviews.drop(columns=["top_critic","publisher","date"],inplace=True)

13517

In [7]:
rtDF_reviews['fresh'].replace(['fresh', 'rotten'], [1,0], inplace=True)

In [8]:
# Added code by Aidan that groups by id, counts # of fresh and total # of reviews and calculates %
rtDF_grouped = rtDF_reviews.groupby(['id'])
rtDF_reviews['sum_fresh'] = rtDF_grouped['fresh'].transform(sum)
rtDF_reviews['count_fresh'] = rtDF_grouped['fresh'].transform('count')
rtDF_reviews['percentage'] = rtDF_reviews['sum_fresh'] / rtDF_reviews['count_fresh']
rtDF_reviews[162:]

,id,review,rating,fresh,critic,sum_fresh,count_fresh,percentage
162,3,NaN,B,1,Emanuel Levy,103,163,0.631902
163,5,This is not the smoothest trip: the transition...,NaN,1,David Ansen,18,23,0.782609
164,5,Charming tale of songwriter finding her voice ...,4/5,1,Brian Costello,18,23,0.782609
165,5,"The lead, Ileana Douglas, is good, but the mus...",C+,1,Emanuel Levy,18,23,0.782609
166,5,"An intelligent, engaging comedy-drama that wil...",3.5/4,1,Michael Dequina,18,23,0.782609
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,1,Laura Sinagra,18,38,0.473684
54428,2000,NaN,1/5,0,Michael Szymanski,18,38,0.473684
54429,2000,NaN,2/5,0,Emanuel Levy,18,38,0.473684
54430,2000,NaN,2.5/5,0,Christopher Null,18,38,0.473684
54431,2000,NaN,3/5,1,Nicolas Lacroix,18,38,0.473684

In [41]:
uniqueID = rtDF_reviews.loc[rtDF_reviews['percentage'] >0.59, 'id'].unique()
# print(len(uniqueID), type(uniqueID))
# list(uniqueID)
# print(type(uniqueID))
# #print(movieid)
# rtDF_reviews['']  movieid is in uniqueID
uniqueID

array([   3,    5,    8,   13,   17,   20,   23,   26,   33,   35,   41,
         43,   46,   50,   51,   52,   54,   57,   58,   59,   65,   68,
         70,   71,   74,   79,   80,   82,   88,   92,   93,   94,   95,
         96,  102,  108,  110,  115,  116,  118,  127,  128,  130,  133,
        134,  135,  137,  140,  144,  149,  150,  152,  157,  158,  163,
        171,  181,  183,  188,  191,  192,  194,  197,  200,  201,  204,
        205,  210,  211,  212,  214,  216,  218,  219,  224,  227,  233,
        235,  240,  251,  254,  258,  261,  271,  276,  279,  286,  287,
        288,  292,  295,  296,  304,  305,  306,  309,  312,  322,  323,
        328,  331,  333,  334,  335,  348,  353,  359,  363,  364,  368,
        372,  375,  380,  384,  387,  388,  391,  392,  393,  394,  396,
        398,  401,  402,  406,  410,  415,  417,  423,  427,  433,  437,
        439,  442,  446,  457,  458,  460,  466,  473,  475,  476,  477,
        479,  483,  486,  487,  494,  497,  502,  504,  505,  507,  508,
        515,  524,  526,  528,  531,  533,  535,  539,  541,  542,  545,
        547,  556,  564,  565,  566,  571,  573,  578,  579,  580,  581,
        582,  586,  589,  594,  596,  597,  598,  599,  602,  611,  613,
        617,  618,  627,  633,  636,  638,  640,  642,  646,  648,  651,
        654,  655,  658,  661,  669,  674,  683,  685,  687,  689,  691,
        693,  695,  696,  697,  700,  712,  716,  721,  722,  724,  735,
        736,  737,  745,  754,  756,  757,  760,  763,  766,  769,  773,
        774,  776,  778,  779,  781,  782,  788,  791,  792,  797,  805,
        806,  807,  809,  810,  815,  817,  823,  826,  827,  829,  830,
        831,  832,  834,  839,  840,  841,  845,  846,  847,  852,  855,
        861,  867,  870,  880,  888,  896,  899,  903,  906,  907,  908,
        911,  912,  913,  921,  922,  923,  930,  936,  937,  943,  947,
        949,  953,  957,  961,  962,  966,  969,  970,  971,  972,  974,
        975,  976,  978,  980,  983,  986, 1000, 1001, 1004, 1007, 1008,
       1017, 1020, 1022, 1025, 1028, 1030, 1031, 1036, 1046, 1048, 1050,
       1051, 1055, 1056, 1064, 1067, 1069, 1077, 1079, 1080, 1082, 1083,
       1084, 1085, 1091, 1092, 1093, 1097, 1101, 1102, 1103, 1104, 1106,
       1110, 1112, 1114, 1119, 1121, 1126, 1133, 1136, 1137, 1146, 1148,
       1153, 1155, 1156, 1159, 1161, 1162, 1163, 1164, 1166, 1167, 1170,
       1172, 1173, 1175, 1180, 1183, 1196, 1197, 1200, 1203, 1208, 1211,
       1215, 1221, 1222, 1224, 1226, 1227, 1231, 1234, 1235, 1239, 1241,
       1242, 1243, 1252, 1253, 1260, 1261, 1272, 1276, 1277, 1281, 1284,
       1286, 1289, 1290, 1292, 1300, 1304, 1310, 1314, 1315, 1320, 1321,
       1326, 1331, 1334, 1344, 1346, 1349, 1353, 1354, 1355, 1358, 1359,
       1365, 1366, 1375, 1377, 1378, 1380, 1381, 1385, 1386, 1390, 1391,
       1392, 1399, 1402, 1406, 1407, 1409, 1410, 1411, 1412, 1413, 1415,
       1418, 1419, 1420, 1426, 1428, 1431, 1442, 1443, 1446, 1447, 1449,
       1457, 1459, 1460, 1466, 1467, 1471, 1477, 1484, 1486, 1490, 1493,
       1494, 1499, 1502, 1505, 1508, 1512, 1514, 1516, 1518, 1519, 1522,
       1523, 1525, 1536, 1541, 1549, 1555, 1561, 1568, 1570, 1572, 1577,
       1579, 1583, 1585, 1588, 1601, 1606, 1610, 1611, 1618, 1622, 1623,
       1627, 1628, 1633, 1636, 1644, 1645, 1646, 1647, 1651, 1654, 1656,
       1657, 1659, 1661, 1665, 1667, 1669, 1672, 1674, 1680, 1689, 1690,
       1695, 1696, 1702, 1703, 1704, 1714, 1721, 1722, 1724, 1727, 1730,
       1732, 1735, 1739, 1745, 1746, 1749, 1750, 1751, 1752, 1756, 1767,
       1771, 1774, 1775, 1776, 1777, 1788, 1790, 1793, 1795, 1800, 1801,
       1803, 1808, 1814, 1816, 1819, 1821, 1822, 1830, 1832, 1835, 1839,
       1841, 1844, 1847, 1848, 1851, 1857, 1860, 1865, 1866, 1867, 1882,
       1885, 1886, 1889, 1890, 1891, 1892, 1894, 1899, 1902, 1905, 1910,
       1911, 1914, 1929, 1930, 1938, 1943, 1950, 1955, 1959, 1960, 1962,
       1968, 1975, 1976, 1978, 1979, 1980, 1981, 1986, 1987, 1992, 1996,
       1998], dtype=int64)

In [10]:
rtDF_reviews['rating'].unique()

array(['3/5', nan, 'C', '2/5', 'B-', '2/4', 'B', '3/4', '4/5', '4/4',
       '6/10', '1/4', '8', '2.5/4', '4/10', '2.0/5', '3/10', '7/10', 'A-',
       '5/5', 'F', '3.5/4', 'D+', '1.5/4', '3.5/5', '8/10', 'B+', '9/10',
       '2.5/5', '7.5/10', '5.5/10', 'C-', '1.5/5', '1/5', '5/10', 'C+',
       '0/5', '6', '0.5/4', 'D', '3.1/5', '3/6', '4.5/5', '0/4', '2/10',
       'D-', '7', '1/10', '3', 'A+', 'A', '4.0/4', '9.5/10', '2.5',
       '2.1/2', '6.5/10', '3.7/5', '8.4/10', '9', '1', '7.2/10', '2.2/5',
       '0.5/10', '5', '0', '2', '4.5', '7.7', '5.0/5', '8.5/10', '3.0/5',
       '0.5/5', '1.5/10', '3.0/4', '2.3/10', '4.5/10', '4/6', '3.5',
       '8.6/10', '6/8', '2.0/4', '2.7', '4.2/10', '5.8', '4', '7.1/10',
       '5/4', 'N', '3.5/10', '5.8/10', 'R', '4.0/5', '0/10', '5.0/10',
       '5.9/10', '2.4/5', '1.9/5', '4.9', '7.4/10', '1.5', '2.3/4',
       '8.8/10', '4.0/10', '2.2', '3.8/10', '6.8/10', '7.3', '7.0/10',
       '3.2', '4.2', '8.4', '5.5/5', '6.3/10', '7.6/10', '8.1/10',
       '3.6/5', '2/6', '7.7/10', '1.8', '8.9/10', '8.9', '8.2/10',
       '8.3/10', '2.6/6', '4.1/10', '2.5/10', 'F+', '6.0/10', '1.0/4',
       '7.9/10', '8.7/10', '4.3/10', '9.6/10', '9.0/10', '4.0', '1.7',
       '7.9', '6.7', '8.0/10', '9.2/10', '5.2', '5.9', '3.7', '4.7',
       '6.2/10', '1/6', '8.2', '2.6/5', '3.4', '9.7', '3.3/5', '3.8/5',
       '1/2', '7.4', '4.8', '1.6/5', '2/2', '1-5', '1.0', '4.3/5', '5/6',
       '9.2', '2.7/5', '4.9/10', '3.0', '3.1', '7.8/10', 'F-', '2.3/5',
       '3.0/10', '3/2', '7.8', '4.2/5', '9.0', '7.3/10', '4.4/5',
       '6.9/10', '0/6', 'T', '6.2', '3.3', '9.8', '8.5', '1.0/5', '4.1',
       '7.1', '3 1/2'], dtype=object)

In [11]:
print(bomDF.info())
bomDF.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
None

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010

In [12]:
# Dropped rows where domestic gross was NaN
bomDF = bomDF[bomDF['domestic_gross'].notna()]
# 
bomDF['foreign_gross'] = bomDF['foreign_gross'].replace(',','', regex=True)
bomDF["foreign_gross"] = pd.to_numeric(bomDF["foreign_gross"])
bomDF.drop(columns=['studio'],inplace=True)
bomDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3359 entries, 0 to 3386
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3359 non-null   object
 1   domestic_gross  3359 non-null   float64
 2   foreign_gross   2009 non-null   float64
 3   year            3359 non-null   int64
dtypes: float64(2), int64(1), object(1)
memory usage: 131.2+ KB

In [13]:
print(tmdbDF.info())
tmdbDF.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  object
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB
None

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [14]:
GenreDict = {28:"Action",12:"Adventure", 16:"Animation", 35:"Comedy", 80:"Crime",
             99:"Documentary",18:"Drama",10751:"Family",14:"Fantasy",36:"History",
             27:"Horror",10402:"Music",9648:"Mystery",10749:"Romance",
             878:"Science Fiction", 10770:"TV Movie",53:"Thriller",10752:"War",37:"Western"}

In [15]:
print(tnmDF.info())
tnmDF.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB
None

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

## To-do
- Plug-in genre to the movies tables
- Split genres in rtDF
- Fill in nulls in foreign gross
- movie & genre IDs match up (explore relationships between dataframes)

In [20]:
# def clean_alt_list(list_):
#    list_ = list_.replace(', ', '","')
#    list_ = list_.replace('[', '["')
#    list_ = list_.replace(']', '"]')
#    return list_
#tmdbDF['genre_ids'] = tmdbDF['genre_ids'].apply(clean_alt_list)
#tmdbDF['genre_ids'] = tmdbDF['genre_ids'].apply(eval)
tmdbDF

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[Adventure, Fantasy, Family]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[Animation, Comedy, Family]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...
26512,"[Horror, Drama]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,"[Drama, Thriller]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,"[Fantasy, Action, Adventure]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,"[Family, Adventure, Action]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,"[Thriller, Horror]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [37]:
tmdbDF['vote_count'].describe()

count    26517.000000
mean       194.224837
std        960.961095
min          1.000000
25%          2.000000
50%          5.000000
75%         28.000000
max      22186.000000
Name: vote_count, dtype: float64

In [17]:
tmdbDF['genre_ids'] = tmdbDF['genre_ids'].apply(eval)

tmdbDF['genre_ids']= tmdbDF['genre_ids'].apply(lambda x: [GenreDict[i] for i in x])

In [21]:
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])
to_1D(tmdbDF["genre_ids"]).value_counts()

Drama              8303
Comedy             5652
Documentary        4965
Thriller           4207
Horror             3683
Action             2612
Romance            2321
Science Fiction    1762
Family             1565
Crime              1515
Animation          1486
Adventure          1400
Music              1267
Mystery            1237
Fantasy            1139
TV Movie           1084
History             622
War                 330
Western             205
dtype: int64

In [36]:
tmdbDF.loc['Drama' in tmdbDF['genre_ids'], 'vote_average']

KeyError: False

In [19]:
tnmDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB